apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: experiment-backend
spec:
  clusterIP: None
  selector:
    app: mongodb
  ports:
  - port: 27017
    targetPort: 27017
    name: mongodb
